:root {
  --text-color: black;
  --font: "Nuosu SIL";
  --font-kor: "Nanum Myeongjo";
  --header-footer-height: 8vh;
  --left-right-padding: 4vw;
}

* {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #4a4a4a;
  font-size: 3vw;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--text-color);
  font: var(--font);
  text-align: center;
  font-size: 0.8rem !important;
  padding-top: 30px;
}

#global-nav-custom {
  background-color: transparent;
  /* position: fixed; */
  top: 0;
  z-index: 999;
  height: var(--header-footer-height);
  width: 100%;
  /* line-height: 150px; */
  transition: height 0.5s, line-height 0.5s;
  display: flex;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
.navbar-custom {
  display: flex;
  align-items: stretch;
}
.container-custom {
  align-items: stretch;
  display: flex;
  width: 100vw;
  height: var(--header-footer-height);
}
.navbar-brand-custom {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.navbar-menu-custom {
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  display: flex;
}
.navbar-end-custom {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 1vw;
  align-items: stretch;
  display: flex;
}
.navbar-item-custom {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin: 0 2vw;
  color: var(--text-color);
  font-weight: bold;
}
.hero-custom {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-custom {
  font-size: 6vh;
  color: var(--text-color);
  height: 10vh;
}
.image-content {
  background-image: url("images/main_photo_orig.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  flex: 1 1 auto;
}
.date-venue {
  display: flex;
  flex: 0 1 var(--header-footer-height);
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .image-content {
    background-image: url("images/main_photo_mobile.jpeg");
  }
}
@media screen and (max-width: 800px) and (min-width: 400px) {
  .date-venue {
    font-size: 3vw;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #363636;
}

@keyframes slideInDown-custom {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown-custom {
  animation-name: slideInDown-custom;
}

.animated-custom {
  animation-duration: 1s;
  animation-fill-mode: both;
}
